<div class="page page-chat">
    <div class="sidebar page-chat__side">

    </div>

    <div class="chat page-chat__content">
        <div class="chat-head">
            <div class="chat-head__title">Чат</div>
            <div class="chat-head__count">2 участника</div>
        </div>

        <div class="chat-content chat__content">

        </div>

        <form class="chat-form">
            <textarea class="chat-form__field"
                      id="fieldMessage"
                      placeholder="Введите сообщение..."></textarea>
            <button type="button"
                    id="btnSend"
                    class="button button_small chat-form__send">
                Отправить
            </button>
        </form>
    </div>
</div>